.container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    max-width: 900px;
  }
  .item{
    box-shadow: 0 2px 4px rgba(0,0,0);
    margin-right:15px;
    margin-bottom:15px;
    width:250px;
    height:auto;
  }
  
  .cart{
    display: flex;
    flex-direction:row;
  }
  